.row-header {
    margin: 0px auto;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 10px;
    color: #29338B; 
}

.row-content {
  align-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px ridge;
  color: #29338B;
}

.body {
  padding: 5;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.col-sm.btn-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin: 20px 0;
}

button:hover { font-weight: 900; }
button:hover i { margin-right: 20px; }

.btn.correct{
--hue: var(--hue--correct);
color: black
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
}

button:focus {
    outline: none;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.question-containter {
  width: 800px;
  max-width: 80%;
}

