.row-header {
    margin: 0px auto;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
    color: #faeb46;
}

.jumbotron {
  background-color: #663091; 
  margin-bottom: 0px;
  height: 240px;
}

.row-content {
  align-content: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
  color: #faeb46;
}

:root {
  background: #663091; 
}

.body {
  padding: 5;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

body.correct {
  background-color: #aef26a;
}

body.wrong {
  background-color: #d98bab;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  margin: 30px 0;
  gap: 10px;
}

button:hover { font-weight: 900; }
button:hover i { margin-right: 20px; }

#answer-buttons {
  margin-bottom: 10;
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  color: #663091;
  align-items: center;
}

button:focus {
    outline: none;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#question-containter {
  padding-top: 10px;
  width: 800px;
  max-width: 80%;
}

#question{
  padding-top: 20px;
  font-family: kanit;
  color: #4a4d48;
  font-weight: bold;
  font-size: 1.5rem;
}

#next-btn{
  color: #4a4d48;
}

